# ==========================================
# Production (El $SITE_ADDRESS debe ser dado desde Docker)
# ==========================================
{$SITE_ADDRESS} {
    # Certificados auto-generados (caddy)
    tls internal

    # Raíz de archivos estáticos
    root * /srv

    # Habilitamos Gzip y Zstandard para optimizar la carga de mapas y datos climáticos
    encode gzip zstd

    # Encabezados de protección
    header {
        # Evita que el sitio sea embebido en iFrames externos (Mitiga ataques de Clickjacking)
        X-Frame-Options "DENY"
        # Previene que el navegador adivine el tipo de contenido (MIME-sniffing)
        X-Content-Type-Options "nosniff"
        # Habilita el filtro de Cross-Site Scripting en navegadores heredados
        X-XSS-Protection "1; mode=block"
    }

    # Redirección de peticiones API al backend Django
    handle /api/* {
        reverse_proxy api:8000 {
            #  Inyecta el nombre del host original (epsselvacentral.siac) hacia Django
            header_up Host {host}
            #  Preserva la IP real del cliente que realiza la petición
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            #  Indica a Django que la solicitud original venía cifrada en HTTPS
            header_up X-Forwarded-Proto {scheme}
        
        }
    }

    # Resuelve el enrutamiento de React
    handle {
        try_files {path} /index.html
        file_server
    }
}