# ==== Django ====
SECRET_KEY=django-insecure-lwhop8$whj8y73n391emc5#ab4a5j#sz(fxc2^uij^pjwbjxi6
DEBUG=True
ALLOWED_HOSTS=*

# ==== Almacenamiento ====
GFS_STORAGE_DIR=/app/storage

# ==== Base de Datos ====
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=eps_siac
DB_PORT=5432