# ==========================================
# Production (El $SITE_ADDRESS debe ser dado desde Docker)
# ==========================================
{$SITE_ADDRESS} {
    # Raíz de archivos estáticos
    root * /srv

    # Habilitamos Gzip y Zstandard para optimizar la carga de mapas y datos climáticos
    encode gzip zstd

    # Encabezados de protección
    header {
        # Evita que el sitio sea embebido en iFrames externos (Mitiga ataques de Clickjacking)
        X-Frame-Options "DENY"
        # Previene que el navegador adivine el tipo de contenido (MIME-sniffing)
        X-Content-Type-Options "nosniff"
        # Habilita el filtro de Cross-Site Scripting en navegadores heredados
        X-XSS-Protection "1; mode=block"
    }

    # Resuelve el enrutamiento de React: si el archivo solicitado no existe, sirve index.html
    try_files {path} /index.html

    # Levanta el servidor de archivos estáticos
    file_server
}